@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


:root  {
  --background: 215 0% 95%;
  --foreground: 215 0% 10%;
  --card: 215 0% 90%;
  --card-foreground: 215 0% 10%;
  --popover: 215 0% 95%;
  --popover-foreground: 215 95% 10%;
  --primary: 215 10% 59%;
  --primary-foreground: 0 0% 100%;
  --secondary: 215 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 177 10% 85%;
  --muted-foreground: 215 0% 35%;
  --accent: 177 10% 80%;
  --accent-foreground: 215 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 215 0% 90%;
  --border: 215 20% 50%;
  --input: 215 20% 18%;
  --ring: 215 10% 59%;
  --radius: 1rem;
}
.dark  {
  --background: 215 10% 10%;
  --foreground: 215 0% 90%;
  --card: 215 0% 10%;
  --card-foreground: 215 0% 90%;
  --popover: 215 10% 5%;
  --popover-foreground: 215 0% 90%;
  --primary: 215 10% 59%;
  --primary-foreground: 0 0% 100%;
  --secondary: 215 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 177 10% 15%;
  --muted-foreground: 215 0% 60%;
  --accent: 177 10% 15%;
  --accent-foreground: 215 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 215 0% 90%;
  --border: 215 20% 18%;
  --input: 215 20% 18%;
  --ring: 215 10% 59%;
  --radius: 1rem;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
